<% now = Time.zone.now %>
<div class="page-header">
	<h1>プロジェクト一覧</h1>
</div>
<%= search_form_for(@q, url: root_path, class: 'well') do |f| %>
<div class="form-group">
	<%= f.label :name_cont, "プロジェクト名" %>
	<%= f.text_field :name_cont, class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.label :start_time_gteq, "プロジェクト開始日" %>
	<%= f.text_field :name_cont, class: 'form-control' %>
	
</div>
<%= f.submit '検索', class: 'btn btn-default' %>
<% end %>

<div class="list-group">
	<% @projects.each do |project| %>
	<%= link_to(project, class: 'list-group-item') do %>
	<h4 class="list-group-item-heading">
		<%= project.name %>


	</h4>
	<p class="list-group-item-text">
		<%= project.start_time.strftime('%Y/%m/%d %H:%M') %> - <%= project.end_time.strftime('%Y/%m/%d %H:%M') %>
	</p>
	<% end %>
	<% end %>
	<%= paginate @projects %>
</div>