<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "The Door", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "make projects", new_project_path %></li>
					<% if logged_in? %>
					<li><%= link_to "make projects", new_user_path %></li>
					<li><%= link_to "retire", retire_user_path %></li>
					<li><%= link_to 'ログアウト', logout_path %></li>
                    <% else %>
                    <li><%= link_to 'Facebookでログイン', '/auth/facebook' %></li>
                    <% end %>
                </ul>
            </nav>
        </div>
        <% if flash[:notice] %>
        <div class="alert alert-success">
        	<%= flash[:notice] %>
        </div>
        <% end %>
        <%= yield %>
    </div>

</header>





