<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "The Door", root_path, id: "logo" %>
			<nav>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav pull-right">
					
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Make Projects", new_project_path %></li>
					<% if logged_in? %>
					<li><%= link_to "Retire", retire_user_path %></li>
					<li><%= link_to 'Logout', logout_path %></li>
                    <% else %>
                    <li><%= link_to 'Log in with Facebook', user_omniauth_authorize_path(:facebook) %></li>
                    <% end %>
                </ul>
            </nav>
        </div>
        <% if flash[:notice] %>
        <div class="alert alert-success">
        	<%= flash[:notice] %>
        </div>
        <% end %>
        <%= yield %>
    </div>

</header>





