<!DOCTYPE html>
<html>
<head>
  <title>The Door</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=devise-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 

</head>
<body>

<div class="container">
  <% if flash[notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
  <% end %>
  <%= yield %>
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-default">
     
    <% if logged_in? %>
     
    <li><%= link_to '退会', retire_user_path %></li>
    <li><%= link_to 'ログアウト', logout_path %></li>
    
    <% end %>
  </ul>
</div>
<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
  <% end %>
  <% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>
  <%= yield %>
 
</div>






















    


</body>
</html>
